html, body {
    display: block;
   
}
#container {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    
}
#text-area {
    width: 75%;
    background-color: black;
}
.calc-button {
    float: left;
    width: 25%;
}